*.pyc
*.csv
*.txt
*.jsonl
!data/hdfs/*.csv
!data/malicious_urls/*.csv
export
*.xgmml
**/.env
**/.env.docker
.ipynb_checkpoints
Spell_result
data/dark_owl
.DS_Store
*.h5
*.npy
!models/*
crawl_config.json
